<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="HelloWorld.HelloMessage" >
        <!--  You can use the property tag to pass in the values of different variables-->
        <property name="message" value="Hello World!" />
    </bean>

    <bean id = "singletonMessage" class="Singelton.SingeltonMessage" scope="singleton">

    </bean>

    <bean id = "lifeCycleMessage" class="LifeCycle.LifeCycleMessage" init-method="init" destroy-method="destroy">
        <property name="message" value="Hello World!" />
    </bean>
</beans>